.point {
    height: 2.5rex;
    width: 2.5rex;
    object-fit: contain;
  }
  
  .border {
    border: 1px solid #ccc;
    box-sizing: border-box;
    cursor: pointer;
  }
  
  .empty {
    background-color: rgb(255, 255, 255);
    transition: background-color 0.1s linear;
  }
  
  .empty:hover {
    background-color: rgb(211, 217, 219);
    transition: background-color 0.1s linear;
  }
  
  .empty:active {
    background-color: rgb(48, 48, 48);
  }
  
  .user {
    background-color: rgb(111, 167, 111);
    position: relative;
  }
  
  .restaurant {
    background-color: rgb(175, 175, 255);
    position: relative;
  }
  
  .selected-restaurant {
    background-color: rgb(73, 73, 248);
    position: relative;
  }
  
  .deliveryMan {
    background-color: rgb(255, 169, 169);
    position: relative;
  }
  
  .wall {
    background-color: rgb(75, 75, 75);
    position: relative;
  }
  
  .visited {
    background-color: rgb(163, 72, 248);
    transition: background-color 0.5s linear;
  }
  
  .path {
    background-color: rgb(101, 190, 218);
    transition: background-color 0.5s linear;
  }
  
  .wall:active {
    background-color: rgb(48, 48, 48);
  }
  
  .dragging-wall {
    background-color: rgba(75, 75, 75, 0.7);
    transition: background-color 0.2s ease;
  }
  
  .dragging-empty {
    background-color: rgba(255, 255, 255, 0.7);
    transition: background-color 0.2s ease;
  }
  
  .tile {
    user-select: none;
  }
  
  .tile {
    transition: background-color 0.2s ease;
  }
  
  img.point {
    height: 100%;
    width: 100%;
    pointer-events: none;
  }
  