.navbar {
    border-bottom: 2px solid rgba(0, 123, 255, 0.2);
}

.nav-link {
    position: relative;
    transition: color 0.3s ease, background-color 0.3s ease;
    padding: 10px 15px;
    border-radius: 5px;
}

.nav-link:hover {
    background-color: rgba(0, 123, 255, 0.1);
    color: #007bff;
}

.active {
    background-color: rgba(0, 123, 255, 0.2);
    color: #0056b3;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler-icon {
    background-color: #007bff;
}

.navbar .dropdown-menu {
    min-width: 12rem;
  }

  .navbar .btn {
    white-space: nowrap;
  }
  